<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Website Challange Chapter 3 Binar Academy">
  <meta name="keywords" content="HTML, CSS, Website">
  <meta name="author" content="Muhamad Guruh Hakiana Zili">
  <link rel="stylesheet" href="/assets/css/stylesheet.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/stylesheet.css">
   <!--BS Icon-->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <!--Title-->
  <title>Game Tradisional - GBK</title>
  <!--Favicon-->
  <link rel="icon" href="/assets/favicon/Gbk.png">
  <!-- Style -->
  <style>
    .header {
    width: 100%;
    background-image:url('/assets/img/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

    .gallery {
    width: 100%;
    height: 100vh;
    background-image:url('/assets/img/the-games-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    } 

    .features {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/features.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

  }

  .sysreq {
      width: 100%;
      height: 100vh;
      background-image: url('/assets/img/requirements.png');
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 10%;
      text-align: center;
  }

  .score {
    width: 100%;
    height: 100%;
    background-image:url('/assets/img/bg-5.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
}
  </style>
</head>

<body>


  <!--Header & Navbar Section-->
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark nav-style bd-navbar ">
      <div class="container">
      <!-- Logo -->
      <a class="navbar-brand mt-3" href="#">
        <img src="assets/img/logo.png" alt="" width="100">
      </a>

      <!--Menu Navigation-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--Menu One-->
        <div class="navbar-nav ml-3">
          <a href="#" class="nav-item nav-link ml-5 px-4" id="home">
            HOME
          </a>
          <a href="#" class="nav-item nav-link px-4" id="work">
            WORK
          </a>
          <a href="#" class="nav-item nav-link px-4" id="contact">
            CONTACT
          </a>
          <a href="#" class="nav-item nav-link px-4" id="about-us">
            ABOUT US
          </a>
        </div>
        <!--Menu Two-->
        <div class="collapse navbar-nav navbar-collapse d-flex flex-row-reverse" id="nav-right ">
          <a href="#" class="nav-item nav-link ml-5 px-4" id="home">
            SIGN UP
          </a>
          <a href="/login" class="nav-item nav-link px-4" id="work">
            LOGIN
          </a>
        </div>
      </div>
    </div>
    </nav>

    <!--Hero One-->

    <div class="row row-cols-1 ml-1 header-info">
      <div class="col header-info-col">
        <h1 class="header-title-info text-center">Play Traditional Game</h1>
        <h3 class="mini-info text-center">Experience new traditional game play</h3>
        <a href="/game" class="btn btn-warning btn-lg header-info-button">
        Play NOW
        </a>
      </div>
      <div class="col align-self-end story-scroll-down">
        <a href="#gallery" class="header-scroll-link-wrapper+">
          <p class="header-scroll-toggle">
            THE STORY
          </p>
          <i class="bi bi-caret-down story-scroll-down-img"></i>
        </a>
      </div>

  </header>

  <!--End of Main Header-->


  <!--About & Gallery-->
  <section class="gallery container" id="gallery">
    <div class="row ml-5 gallery-content">
      <div class="col-5  gl-left-side">
        <h3 class="gallery-mini-info">
          What's So Special ?
        </h3>
        <h1 class="gl-h1-info">
          THE GAMES
        </h1>
      </div>

      <div class="col-7  gl-right-side">
        <div id="Indicatordot" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#Indicatordot" data-bs-slide-to="0" class="active rounded-circle"
              aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#Indicatordot" data-bs-slide-to="1" aria-label="Slide 2"
              class="rounded-circle"></button>
            <button type="button" data-bs-target="#Indicatordot" data-bs-slide-to="2" aria-label="Slide 3"
              class="rounded-circle"></button>
            <button type="button" data-bs-target="#Indicatordot" data-bs-slide-to="3" aria-label="Slide 4"
              class="rounded-circle"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="assets/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="slide 1">
            </div>
            <div class="carousel-item " data-bs-interval="10000">
              <img src="assets/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="slide 2">
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <img src="assets/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="slide 3">
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <img src="assets/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="slide 4">
            </div>
          </div>
          <button class="carousel-control-prev icon-costum-left" type="button" data-bs-target="#Indicatordot"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next icon-costum-right" type="button" data-bs-target="#Indicatordot"
            data-bs-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>

  </section>
  <!--End About & Gallery-->

  <!-- features section  -->
  <section class="features ">
    <div class="container">
      <div class="row justify-content-end features-contents">
        <div class="col-4 features-info mb-2">
          <h3 class="features-info-title">
            What's so special?
          </h3>
          <h1 class="features-info-content">
            FEATURES
          </h1>
        </div>
      </div>
      <div class="row justify-content-end features-timeline">
        <div class="col-5 features-timeline-content">
          <div class="row timeline">
            <div class="col-3 pt-2 mt-1 timeline-dot">
              <img src="assets/img/Ellipse.svg">
            </div>
            <div class="col tl-info">
              <h2 class="tl-info-title">
                TRADITIONAL GAMES
              </h2>
              <p class="tl-info-content">
                If you miss your childhood, we provide many traditional games here
              </p>
            </div>
          </div>
          <div class="row timeline">
            <div class="col-3 pt-2 mt-1 timeline-dot">
              <img src="assets/img/Ellipse-transparent.svg">
            </div>
            <div class="col tl-info">
              <h2 class="tl-info-title">
                GAME SUIT
              </h2>
            </div>
          </div>
          <div class="row timeline">
            <div class="col-3 pt-2 mt-1 timeline-dot">
              <img src="assets/img/Ellipse-transparent.svg">
            </div>
            <div class="col tl-info">
              <h2 class="tl-info-title">
                TBD
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of features section  -->

  <!-- system requirements section  -->
  <section class="sysreq">
    <div class="container">
      <div class="req-info-top">
        <h5>Can My Computer Run This Game?</h5>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h1 class="rq-table-title">System Requirements</h1>

          <!-- Table -->
          <table class="table table-bordered table-content-sys">
            <tbody>
              <tr>
                <td>
                  <h2 class="requirements-info">OS:</h2>
                  <p class="requirements-info-content">
                    Windows 7 64-bit only<br>(No OSX support at this time)
                  </p>
                </td>
                <td>
                  <h2 class="requirements-info">Processor:</h2>
                  <p class="requirements-info-content">Intel Core 2 Duo @2.4GHz or AMD Athlon X2 @ 2.8GHz</p>
                </td>
              </tr>
              <tr>
                <td>
                  <h2 class="requirements-info">Memory:</h2>
                  <p class="requirements-info-content">4 GB RAM</p>
                </td>
                <td>
                  <h2 class="requirements-info">Storage:</h2>
                  <p class="requirements-info-content">8 GB available space</p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <h2 class="requirements-info">Graphics:</h2>
                  <p class="requirements-info-content">
                    NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB
                    DirectX11 (Shader Model S)
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- End of table -->


        </div>
      </div>
    </div>
  </section>
  <!-- end of Sysreq  -->

  <!-- Score & Comments  -->

  <section class="score" id="score">
    <div class="container row">
      <div class="col-lg-5 col-md-7 offset-md-2 mt-5 offset-sm-1 align-center score-left-side ">
        <h1>Top Scores</h1>
        <h2>This top score from various games provided on this platform</h2>
        <a href="#" class="btn btn-warning">see more</a>
      </div>

      <!-- Twitter cards -->
      <div class="col">
        <div class="row">
          <div class="col-lg-4 col-md-7 offset-lg-6 offset-md-2 offset-sm-1">
            <div class="card text-white bg-dark mb-2 " id="card-1">
              <div class="card-header row">
                <img src="assets/img/evan.png" class="img-fluid float-left col-3 card-costum"
                  alt="Evan Lahti">
                <div class="col-6">
                  <h3>Evan Lahti</h3>
                  <h4>PC Gamer</h4>
                </div>
                <img src="assets/img/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  "One of my gaming highlights of the year."
                </h5>
                <p class="card-text">October 18, 2018</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 col-md-7 offset-lg-3 offset-md-2 offset-sm-1">
            <div class="card text-white bg-dark mb-2 " id="card-2">
              <div class="card-header row">
                <img src="assets/img/jada.png" class="img-fluid float-left col-3 card-costum"
                  alt="Jada Griffin">
                <div class="col-6">
                  <h3>Jada Griffin</h3>
                  <h4>Nerdreactor</h4>
                </div>
                <img src="assets/img/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  "The next big thing in the world of streaming and survival
                  games."
                </h5>
                <p class="card-text">December 21, 2018</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-5 col-md-7 offset-lg-5 offset-md-2 offset-sm-1">
            <div class="card text-white bg-dark mb-1 " id="card-3">
              <div class="card-header row">
                <img src="assets/img/aaron.png" class="img-fluid float-left col-3 card-costum"
                  alt="Aaron Williams">
                <div class="col-6">
                  <h3>Aaron Williams</h3>
                  <h4>Uproxx</h4>
                </div>
                <img src="assets/img/twitter.svg" class="img-fluid float-right col-2 " alt="twitter">
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  "Snoop Dogg Playing The Wildly Entertaining 'SOS' Is
                  Ridiculous
                </h5>
                <p class="card-text">December 24, 2018</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Twitter cards -->
    </div>
  </section>

  <!-- end of Score & Comments  -->

  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xl">
          <figure>
            <img src="assets/img/skull.webp" alt="skull" id="skull">
          </figure>
        </div>
        <div class="col-xl">
          <div class="footer-content-right ">
            <h3 class="title">Want to stay in touch?</h3>
            <h1 class="title">Newsletter Subscribe</h1>
            <p class="title">
              In case to start receiving our news, all you have to do is enter
              your email address. Everything else will be taken care of you. We
              will send you emails containing information about game. We don't
              spam.
            </p>
          </div>
          <div class="footer-content-left">
            <form class="form row">
              <div class="form-group col-md-7">
                <label class="sr-only" for="email">email</label>
                <input type="text" class="form-control mb-2 mr-sm-2 pt-3 bg-dark" id="email"
                  placeholder="youremail@binar.co.id">
                <p>Your email address</p>
              </div>
              <div class="col-md-5 text-left mt-5">
                <button class="btn btn-warning mb-3 w-100">
                  Subscribe Now
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--Bootsrap JavaScript-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
    integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
    integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
    crossorigin="anonymous"></script>
</body>

</html>
