<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Games - GBK</title>
     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/stylesheet-minigames.css">

    <link rel="icon" href="/assets/img/logo.png">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="back-to-home">
                <h1>
                    <a href="/"> < </a>
                </h1>
            </div>
            <div class="col-md-1">
                <img src="/assets/img/logo-minigames.png">
            </div>
            <div class="col-md-6 pt-3"><h2>Mini Games | Scissors Rock Paper</h2></div>
            <div class="col-md-7"></div>
        </div>

        <div class="row mt-5">
            <div class="col-md-3 offset-2">
                <h2 class="mb-4">Player 1</h2>
                <button class="stop button animate" id="player-rock" value="Rock">
                    <img src="/assets/img/rock.png" width="100px" alt="rock">
                </button>
            </div>

            <div class="col-md-3 offset-4">
                <h2 class="mb-4">Computer</h2>
                <button class="stop button" id="comRock">
                    <img src="/assets/img/rock.png" width="100px" alt="rock">
                </button>
            </div>
        </div>

        <div class="row mt-5">
            <!-- Player 1 -->
            <div class="col-md-3 offset-2">
                <button class="stop button animate" id="player-scissors" value="Scissors">
                    <img src="/assets/img/scissors.png" width="100px" alt="scissors">
                </button>
            </div>

            <div class="col-md-3" id="boxInfo">
                <h1 id="textInfo">VS</h1>
            </div>

            <!-- Computer -->
            <div class="col-md-3 offset-1">
                <button class="stop button" id="comScissors">
                    <img src="/assets/img/scissors.png" width="100px" alt="scissors">
                </button>
            </div>
        </div>

        <div class="row mt-5">
            <!-- Player 1 -->
            <div class="col-md-3 offset-2">
                <button class="stop button animate" id="player-paper" value="Paper">
                    <img src="/assets/img/paper.png" width="100px" alt="paper">
                </button>
            </div>

            <div class="col-md-3">
                <button id="refresh">
                    <img src="/assets/img/refresh.png" width="50px" alt="refresh">
                </button>
            </div>

            <!-- Computer -->
            <div class="col-md-3 offset-1">
                <button class="stop button" id="comPaper">
                    <img src="/assets/img/paper.png" width="100px" alt="paper">
                </button>
            </div>
        </div>
    </div>

    <!-- Style JS -->
    <script src="/assets/js/script.js"></script>
</body>
</html>