body {
    background-color: #9C835F;
}

.back-to-home{
    width: 100px;
}

.back-to-home a {
    color: #724C21;
    text-decoration: none;
}

button {
    background-color: transparent;
    border-color: transparent;
}

.boxInfo {

}

.winBox {
    height: 100px;
    display: grid;
    place-items: center;
    background: #4C9654;
    border-radius: 10px;
    margin: 15px auto;
    padding: 15px;
}

.drawBox {
    height: 100px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    margin: 15px auto;
    padding: 15px;
    background: #035B0C;
    border-radius: 10px;
}

.loseBox {
    height: 100px;
    display: grid;
    place-items: center;
    background: #c72828;
    border-radius: 10px;
    margin: 15px auto;
    padding: 15px;
}

.chosen {
    background-color: #C4C4C4;
    border-radius: 30px;
}

.animate{
    cursor: pointer;

}

.animate:hover {
transform: rotate(20deg);
animation-name: buttonAnimate;
animation-duration: 1.5s;
animation-delay: 0s;
animation-iteration-count: infinite;
}